<%- include("../partials/navbar.ejs") %>



<main class="mt-5 pt-5">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-dark text-center">
          <div class="card-header border-dark fw-bold fs-2">MANAGE QUERIES</div>
          <table class="table border-dark">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% query.forEach(function(queries , index) { %>
                    <tr>
                        <th scope="row">
                            <%= index+1 %>
                        </th>
                        <td>
                            <%= queries.full_name %>
                        </td>
                        <td>
                            <%= queries.number %>
                        </td>
                        <td>
                            <%= queries.query %>
                        </td>
                        <td>
                            <a href="/query/delete/<%= queries._id %>" class="btn btn-primary">Mark as Read</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    </main>

    <%- include("../partials/script.ejs") %>

    